<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="home_logo" data-role="none" title="myWipro" target="_top" id="myWurl" href="https://mywipro.wipro.com/"></a>
        <a class="navbar-brand" href=".">{{title}}</a>
      </div>
    </div>
  </nav>
