.home_logo
{
    background: url("src/assets/images/home_mw_normal.png") no-repeat scroll 0 0;
    float: left;
    height: 40px;
    margin: 0 0.5em;
    width: 44px;
}

    .home_logo:hover
    {
        background: url("src/assets/images/home_mw_hover.png") no-repeat scroll 0 0;
    }