<div class="container">
    <div *ngIf="employees == null" class="panel panel-default">
        <div class="panel-heading">
            <img src="../../../assets/images/08.png" class="finder_logo"><img> 
            <b>&nbsp;&nbsp;Who Are You Looking For?</b>
        </div>
        <div class="panel-body">
            <input type="text" placeholder="Email ID/Emp No" name="txtSearch" class="border_rgt_none" #txtSearch/>
            <span class="search_icn" (click)="submit(txtSearch)" title="Search"></span>
        </div>
    </div>
    <div *ngIf="employees != null">
        <div *ngFor="let employee of employees; ; let i = index">
            <div class="content_inner">
                <ul class="reporting_li margin_lft">
                    <li class="reporting_li my_reportees main_reportees">
                        <span *ngIf="i != 0" class="vertical_dot"></span>
                        <span *ngIf="i == 0" class="arrow_icon active" style="margin-left:20px;margin-bottom:8px"></span>
                        <span *ngIf="i != 0" class="arrow_icon active"></span>
                        <span class="horizontal_dot"></span>
                        <div class="person_details">
                            <span class="person_name" (click)="details(employee.employee.id)" data-toggle="modal" data-target="#myModal" >{{employee.employee.name}}</span>
                            <span class="person_design">({{employee.employee.workLocation}}, {{employee.employee.country}})</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

     <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Details</h4>
        </div>
        <div class="modal-body" *ngIf="employeeDetails != null">
          <div class="row">
              <div class="col-md-12">
                <label>Name:&nbsp;</label>{{employeeDetails.employee.name}}
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <label>Email:&nbsp;</label>{{employeeDetails.employee.email}}
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <label>Band:&nbsp;</label>{{employeeDetails.employee.band}}
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <label>Location:&nbsp;</label>{{employeeDetails.employee.workLocation}},&nbsp;{{employeeDetails.employee.country}}
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <label>Phone:&nbsp;</label>{{employeeDetails.employee.phone}}
              </div>
          </div>
          <div class="row" *ngIf="employeeDetails.manager != null"> 
            <div class="col-md-12">
                <label>Reports To:&nbsp;</label>{{employeeDetails.manager.name}}
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>