.finder_logo
{
height: 30px;
width: 30px;
}

.border_rgt_none
{
    border-right: medium none !important;
    float: left;
    width: 62% !important;
    height: 40px;
    border-radius: 7px 0px 0px 7px !important;
}

.search_icn
{
    background: url("src/assets/images/10.png") no-repeat !important;
    height: 40px;
    cursor: pointer;
    width: 48px;
    float: left;
    border-radius: 0px 0px 10px 0px;
}

.content_inner
{
    background: url('src/assets/images/faq_bg_image.png') repeat;
    width: 100%;
    float: left;
}

.hierarchy_main
{
    width: 100%;
    float: left;
    padding: 20px;
}

.reporting_li
{
    float: left;
    width: 100%;
    margin-top: 5px;
}

.margin_lft
{
    margin-left: 20px;
}

.horizontal_dot
{
    background: url("src/assets/images/Horizontal.png") repeat-x scroll center bottom rgba(0, 0, 0, 0);
    float: left;
    height: 20px;
    width: 20px;
}

.main_reportees > span.arrow_icon {
    opacity: 1;
    background-image: none;
    background-color: #434343;
    border-radius: 50%;
}


.reporting_li
{
    float: left;
    width: 100%;
    margin-top: 5px;
}

.arrow_icon.active
    {
        background: url('src/assets/images/-.png') no-repeat;
        height: 22px;
        width: 22px;
        float: left;
        margin-top: 8px;
        /*cursor: pointer;*/
    }

    .vertical_dot
    {
        background: url("src/assets/images/vertical.png") repeat-y scroll center bottom rgba(0, 0, 0, 0);
        float: left;
        height: 37px;
        left: 20px;
        position: relative;
        top: -30px;
        width: 20px;
    }

    .person_details
    {
        float: left;
        width: 65%;
    }
    .person_name
    {
        float: left;
        font-family: segoeuisemibold;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 15px;
        padding-top: 5px;
        width: 100%;
        cursor: pointer;
            border: none;
                background: none;
        text-align: left;
    }    

.person_design
{
    color: #8f8f8f;
    float: left;
    font-size: 13px;
    padding: 0 15px;
    width: 100%;
}